body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: azure;
}
img {
    margin: 26px;
    border:0px solid #ccc;
    width: 480px;
    cursor: pointer;
    width: 93%;
}
h1 {
    text-align: center;
    margin: 5px;
    font-family: none;
    width: 100%;
    font-size: 48px;
    padding-top: 15px;
}
.header {
    width: 100%;
}
h2 {
    padding-top: 30px;
    padding-left: 70px;
}
p {
    text-align: center;
    padding-bottom: 10px;
    max-width:none;
}
h4 {
    text-align: center;
    font-size: 15px;
    background-color: rgb(83, 184, 224);
    padding: 5px;
    margin: 0;
}
.contact {
    font-size: 20px;
    color: rgb(83, 184, 224);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.EuphoriaBlouse {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    width:fit-content;
}
.dress {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    width:fit-content;
}
.leggingNike {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    width:fit-content;
}
.legging {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    width:fit-content;
}
.tshirt {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    width:fit-content;
}
.containerProducts {
    display: table;
    margin: 0 auto;
}
.leftPhoto {
    float:left;
    padding-left: 50px;
    width: 700px;
    margin: 60px;
    cursor: zoom-in;
    width: 46%;
}
.leftPhoto:hover {
    transform: scale(1.5); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.leftPhotoEuphoria {
    float:left;
    padding-left: 50px;
    width: 700px;
    margin: 80px;
    cursor: zoom-in;
    width: 46%;
}
.leftPhotoEuphoria:hover {
    transform: scale(1.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}
.descriptionContainerAndOrder {
    padding-left: 52px;
    padding-right: 120px;
    margin: 38px;
    text-align: left;
}
.descriptionContainerAndOrderForEuphoriaBlouse {
    padding-left: 19px;
    padding-right: 120px;
    margin: 38px;
    text-align: left;
}
.descriptionContainerAndOrderForLeggingNike {    
    padding-left: 52px;
    padding-right: 120px;
    margin: 42px;
    text-align: left;
}
.descriptionContainerAndOrderForLegging {
    padding-left: 52px;
    padding-right: 120px;
    margin: 30px;
    text-align: left;
}
.price {
    color:deeppink;
    font-size: 30px;
    margin: 0;
}
div.order {
    display: table-row;
}
label, input {
    display: table-cell;
    margin-bottom: 10px;
    width: auto;
}
label {
    padding-right: 10px;
}
.buttonSendOrder {
    border: none;
    padding: 5px 32px;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
    background-color: rgb(83, 184, 224);
    font-size: 40px;
    text-align: left;
    padding-left: 103px;
}
.users {
    text-align: left;
}
.customerReviews {
    text-shadow: 1px 0px 25px black;
    margin-top: 291px;
    display: flow-root;
}
.form {
    padding-left: 110px;
    padding-bottom: 50px;
    padding-right: 110px;
}
.buttonSendReview {
    border: none;
    padding: 5px 32px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.link {
    text-decoration: none;
    color:black;
}
.userName {
    resize: none;
}
.text {
    resize: none;
}
.formAddReview {
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    color: white;
}
li {
    float: left;
    list-style: none;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 24px;
    text-decoration: none;
    position:static;
}
li a:hover:not(.active) {
    background-color: #ddd;
}
li a:hover(:active) {
    cursor: pointer;
}
li :hover {
    background-color: #ddd;
}
.productType {
    font-size: 19px;
}
.slideshow {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}
.slide1{background-image: url('images/slideshow1.jpg')}
.slide2{background-image: url('images/slideshow2.jpg')}

.arrow{
    cursor:pointer;
    position: absolute;
    top:50%;
    width: 0;
    height: 0;
    border-style: solid;
}
#arrow-left{
    border-width: 30px 40px 30px 0;
    border-color: transparent transparent transparent;
    left: 0;
    margin-left: 30px;

}